@{
    ViewBag.Title = "Admin Login";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>Login to manage the dealership's inventory</p>
</div>
<form method="post" asp-antiforgery="true">
    <p>
        <label for="username">Username:</label><br />
        <input type="text" name="username" required autofocus />
    </p>
    <p>
        <label for="password">Password:</label><br />
        <input type="password" name="password" required />
    </p>
    <div asp-validation-summary="All" class="alert-danger"></div>
    <input type="submit" value="Login" />
</form>